

.available-banks{
    display: ;
    flex-direction: column;
}
.bankCard{
    margin:5px;
    background:;
    padding:;
}
.bankCard div{
    display: flex;
    flex-direction:row;
    align-content:space-evenly;
    background:;
}
.bankCard div img{
    border-radius: 50%;
    justify-self: flex-start;
    align-self: center;
    width:30px;
    height:30px;
}
.bankCard div h2{
    float:right;
    font-size:15px;
    color:green;
    margin-left:5px;
}
.bankCard p{
    color:black;
    font-size:10px;
}
